#pogrubienie_jankowski {
	font-size: 34px;
	color: #385AD3;
}
#pochylenie_jankowski {
	font-size: 39pt;
	color: #E5BE6F;
}
#index_gorny_jankowski {
	font-size: 5.4cm;
	color: #958C1F ;
}
#index_dolny_jankowski {
	font-size: 6.3cm;
	color: rgb(19%,94%,91%);
}
#mono_jankowski {
	font-size: 44px;
	color: #15DC6F
}
#powiekszenie_jankowski {
	color: #4F3CA1
}
#pomniejszenie_jankowski {
	color: rgb(70%,63%,23%)
}

<!--Jankowski-->