
	

#div2 {
	
	width: 989px;
	background-color: maroon;
	
}

#zd_3 {
	color: blue;
	font-size: 1.6cm;
}


#wyliczenie2 {
	color: gray;
	font-size: 7mm;
}





#div3 {
	width: 1089px;
	background-color: red;
}

#zd_4 {
	color: green;
	font-size: 1cm;
}
#wyliczenie3 {
	color: olive;
	font-size: 9mm;
}





#div1 {
	width: 1089px;
	background-color: purple;
	}
#zd_1 {
	color: fuchsia;
	font-size: 1.2cm;
}
#zd_2 {
	font-size: 1.6cm;
}
#wyliczenie {
	color: aqua;
	font-size: 8mm;
}
