p {
	color: red;
	font-size: 30pt;
}
#gruby_jankowski {
	color: green;
	font-size: 20pt;
	font-weight: 900;
}
#dlawszystkich_jankowski {
	color: yellow;
	font-size: 10pt;
	font-style: Arial;
}
<!--Jankowski-->